@import '../../Styles/Fonts/fonts.css';

.docsPage {
    color: #333333;
    font-family: 'Standard';
    cursor: text;
    padding: 0;
}

.docsPage h1 {
    font-size: 32px;
    font-weight: 900;
    margin: 0 0 8px;
}

.docsPage p {
    font-size: 16px;
    margin: 16px 0;
}

.docsPage hr {
    border: 0 none;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    height: 4px;
    padding: 0;
}

.docsPage a {
    text-decoration: underline;
    color: #1080e5;
    padding: 0 5px 0 5px;
}

.docsPage a:hover {
    text-decoration: none;
}

.docsPage .chakra-alert {
    width: 100% !important;
    font-size: 15px !important;
    box-shadow: rgb(0 0 0 / 10%) 0 1px 3px 0 !important;
}

.docsPage code {
    line-height: 1;
    margin: 0 2px;
    padding: 3px 5px;
    white-space: nowrap;
    border-radius: 3px;
    border: 1px solid #eeeeee;
    color: rgba(51, 51, 51, 0.9);
    background-color: #f8f8f8;
}

.docsPage table {
    border-collapse: collapse;
    border-radius: 3px;
    border-style: hidden !important;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.docsPage table,
th,
tr,
td {
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 7px;
}

.docsPage th {
    background-color: #e8eaf9;
}

.docsPage table tr:first-child th:first-child {
    border-top-left-radius: 3px;
}

.docsPage table tr:first-child th:last-child {
    border-top-right-radius: 3px;
}

.codeDisplayOnly button {
    display: none;
}

.notAuthorized h1,
.notAuthorized p {
    text-align: center;
    font-family: 'Standard';
}

.notAuthorized h1 {
    font-weight: bold;
    font-size: 300%;
    margin: 10px 0 10px 0;
}

.notAuthorized p {
    font-size: 125%;
}

.notAuthorized svg {
    width: 300px !important;
    height: 300px !important;
    margin-left: auto;
    margin-right: auto;
}

.notAuthorized textarea {
    position: relative;
    left: 75px;
}

.notAuthorized button {
    position: relative;
    left: 693px;
    margin: 10px 0 0 0;
    color: #000000;
    border-color: #000000;
}

.notAuthorized button:hover {
    color: #138849;
    border-color: #138849;
    background-color: #e7f3ec;
}

.notAuthorized button:focus {
    box-shadow: 0px 1px 5px #888888;
}

.sbdocs-h1,
.sbdocs-h2,
.sbdocs-h3,
.sbdocs-h4,
.sbdocs-p {
    font-family: 'Standard' !important;
}

.sbdocs-p {
    font-size: 16px !important;
    line-height: 30px !important;
}

.sbdocs-h3 {
    margin: 20px 0 !important;
}

.css-kxg3mc {
    border-left: 4px solid #ff7300 !important;
    background-color: #fff1e5 !important;
    border-radius: 3px !important;
}

blockquote .css-9paetf {
    padding-bottom: 10px !important;
}

blockquote .css-bdtlhc {
    margin-bottom: 0px !important;
}

.css-15erloe {
    width: 90px !important;
    height: 100px !important;
}

.css-15erloe p {
    margin: 7px 0 0 0;
    text-align: center;
    color: #333333 !important;
    line-height: 1.2 !important;
    font-size: 12px !important;
    width: 48px;
}

.iconGallery svg {
    width: 48px !important;
    height: 48px !important;
}

.iconPosition svg {
    position: relative !important;
    top: 18px;
    left: 13px;
}

.iconBlueFill path {
    fill: #01459e !important;
}

.iconGrayFill path {
    fill: #999999 !important;
}

.sbdocs-img {
    border-radius: 3px !important;
    box-shadow: rgb(0 0 0 / 30%) 0 3px 9px 0 !important;
    display: inline !important;
}
