@import '../../Styles/Fonts/fonts.css';

.docsPage {
    color: #333333;
    font-family: 'Standard';
    cursor: text;
    padding: 0;
}

.docsPage h1 {
    font-size: 32px;
    font-weight: 900;
    margin: 0 0 8px;
}

.docsPage p {
    font-size: 16px;
    margin: 16px 0;
}

.docsPage .chakra-alert {
    width: 100% !important;
    font-size: 15px !important;
}

.docsPage code {
    line-height: 1;
    margin: 0 2px;
    padding: 3px 5px;
    white-space: nowrap;
    border-radius: 3px;
    border: 1px solid #eeeeee;
    color: rgba(51, 51, 51, 0.9);
    background-color: #f8f8f8;
}

.sbdocs-h1,
.sbdocs-h2,
.sbdocs-h3,
.sbdocs-h4,
.sbdocs-p {
    font-family: 'Standard' !important;
}

.sbdocs-p {
    font-size: 16px !important;
}

.sbdocs-h3 {
    margin: 20px 0 !important;
}
