@import '../../Styles/Fonts/fonts.css';

.docsPage {
    color: #333333;
    font-family: 'Standard';
    cursor: text;
    padding: 0;
}

.docsPage h1 {
    font-size: 32px;
    font-weight: 900;
    margin: 0 0 8px;
}

.docsPage p {
    font-size: 16px;
    margin: 16px 0;
}

.docsPage .chakra-alert {
    width: 100% !important;
    font-size: 15px !important;
    box-shadow: rgb(0 0 0 / 10%) 0 1px 3px 0 !important;
}

.docsPage code {
    line-height: 1;
    margin: 0 2px;
    padding: 3px 5px;
    white-space: nowrap;
    border-radius: 3px;
    border: 1px solid #eeeeee;
    color: rgba(51, 51, 51, 0.9);
    background-color: #f8f8f8;
}

.sbdocs-h1,
.sbdocs-h2,
.sbdocs-h3,
.sbdocs-h4,
.sbdocs-p {
    font-family: 'Standard' !important;
}

.sbdocs-p {
    font-size: 16px !important;
    line-height: 30px !important;
}

.sbdocs-h3 {
    margin: 20px 0 !important;
}

.css-kxg3mc {
    border-left: 4px solid #ff7300 !important;
    background-color: #fff1e5 !important;
    border-radius: 3px !important;
}

blockquote .css-9paetf {
    padding-bottom: 10px !important;
}

blockquote .css-bdtlhc {
    margin-bottom: 0px !important;
}

.css-15erloe {
    width: 60px !important;
    height: 60px !important;
}

.sbdocs-img {
    border-radius: 3px !important;
    box-shadow: rgb(0 0 0 / 30%) 0 3px 9px 0 !important;
    display: inline !important;
}
